name: Go

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: true
      - name: Test
        run: go test -race -coverprofile=coverage.out -covermode=atomic ./...
